:root {
    --primary-color: #96695e;
    --secondary-color: #c8a99c;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 20px;
    opacity: 0.9;
}

.contact-box h4 {
    font-size: 48px;
    color: white;
}

.logo {
    max-height: 80px;
}

.hero {
    color: var(--primary-color);
    padding: 120px;
}

.hero h3 {
    color: #c8a99c;
}

.hero h1 {
    font-size: 90px;
}

.project-list {
    padding-top: 5px;
    background-color: rgb(247, 241, 234);
}

.btn-branding {
    background-color: var(--secondary-color);
    color: white;
}

.btn-branding:hover {
    color: white;
}

.contact-link {
    color: white;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 25px;
    letter-spacing: 1px;
}

.contact-link:hover {
    color: white;
    text-decoration: none;
}

.contact-info {
    text-align: center;
    padding: 20px;
}

.content-container {
    padding-top: 50px;
}

.content-container h1 {
    font-size: 65px;
    color: var(--primary-color);
}

.content-container h2 {
    font-size: 18px;
    color: var(--primary-color);
}

.content-container p {
    font-size: 16px;
}

.content-container h3 {
    color: var(--primary-color);
}

.content-container .service {
    border: 1px solid rgb(189, 188, 188);
    padding: 10px;
    border-radius: 5px;
}

.content-container .services {
    padding: 5px;
}

.skills {
    padding: 0 20px;
}

.skills .fa-brands {
    text-align: center;
    color: var(--primary-color);
    font-size: 35px;
}

.skills .fa-solid {
    text-align: center;
    color: var(--primary-color);
    font-size: 35px;
}

.additional-header {
    opacity: 0.7;
    margin-left: 2px;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover {
    text-decoration: none;
    color: black;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
}

p .coded-by a {
    font-size: 10px;
}

footer .github-link {
    color: var(--primary-color);
}

footer .github-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}
 
@media (max-width: 900px) {
    .hero {
        padding: 60px;
    }
    
    .hero h1 {
        font-size: 45px;
        text-align: center;
    }

    .hero h3 {
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    .project {
        padding: 20px;
    }

    .project h2 {
        margin-top: 20px;
    }

    .content-container {
        text-align: center;
    }

    .content-container h1 {
        font-size: 45px;
    }

    .content-container h3 {
        font-size: 20px;
    }

    .content-container .services {
        padding: 0;
        margin: 0;
    }

    .skills .fa-solid {
        font-size: 60px;
    }

    .skills .fa-brands {
        font-size: 60px;
    }

    .content-container .about-image {
        width: 300px;
    }

    footer {
        padding: 0;
        margin-top: 20px;
    }
}