:root {
    --primary-color: #96695e;
    --secondary-color: #c8a99c;
    --primary-font: 'Cabin', sans-serif;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
}

.hero {
    color: var(--primary-color);
    padding: 150px;
    font-family: var(--primary-font);
    background: #FAEBD8;
}

.hero h1 {
    font-size: 90px;
}

.btn-branding {
    background-color: var(--secondary-color);
    color: white;
}

.btn-branding:hover {
    color: white;
}